body {
  background-color: #111;
  font-family: "Roboto Mono";
  margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.title-span {
  font-family: "Roboto Mono";
  font-weight: 700;
  color: #fff;
  font-size: 50px;
  text-align: center;
}

#main-div {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-div ul {
    display: flex;
    width: 50%;
    justify-content: center;
}

#main-div ul li{
    list-style: none;
    margin: 10px;
}

#main-div ul li a{
    font-size: 35px;
    color: #b8bb26;
}

/* LOGIN */
.form {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono";
}

.form input{
    width: 40%;
    height: 13%;
    font-size: 27px;
    margin: 5px;
    border-radius: 5px;
    background-color: #282828;
    color: #ccc;
    border: #999;
}

#passwd-alert {
    display: none;
}

#confirm-alert {
    background-color: #b8bb26;
    color: white;
}

.form input::placeholder {
    margin-left: 10px;
}

.form labels {
    font-weight: 700;
    width: 100%;
}

.form-buttons {
    width: 40%;
    height: 75px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.form-buttons button{
    width: 45%;
    height: 50px;
    margin: 2px;
    font-size: 25px;
    background-color: #282828;
    cursor: pointer;
    color: #ccc;
    border-color: #666;
    font-family: "Roboto Mono";
    font-weight: 700;
    border-radius: 5px;
}

.form-buttons button:hover{
    color: #b8bb26
}

.form-buttons button a{
    font-size: 22px;
    text-decoration: none;
}

.real-form-button {
    color: #ccc;
}

.fake-btn a{
    color: #fabd2f;
}

#password-recover-div {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#password-recover-div a{
    font-size: 23px;
    font-weight: 900;
    text-decoration: none;
    color: #b8bb26;
    cursor: pointer;
}

.alert-invalid {
    width: 50%;
    height: 75px;
    background-color: #fb4934;
    font-family: "Roboto Mono";
    font-weight: 900;
    color: #282828;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}


.main-div {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono";
  font-weight: 900;
  flex-direction: column;
}

#start-div {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#rep-title {
    display: none;
}

#start-div h1 {
    font-size: 42px;
    color: #eee;
    text-align: center;
}

#start-desc {
  margin-top: 0px;
  margin-bottom: 40px;
  color: #b8bb26;
  font-size: 30px;
}

.alert-invalid h2 {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 21px;
    text-align: center;
}

.start-menu {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  padding: 0;
}

.start-menu li{
  margin: 7px;
  background-color: #282828;
  width: 25%;
  height: 30px;
  padding: 5px;
  display: flex;
  border-radius: 5px;
}

.start-menu .rep-link {
    display: none;
    width: 40%;
}

.rep-link a{
   font-size:
   display: flex;
   justify-content: center;
}

select {
    border: #555;
    background-color: #555;
    border-radius: 5px;
    color: #ccc;
    font-family: "Roboto Mono";
    font-weight: 700;
    text-align: center;
    display: none;
    height: 35px;
}

.start-menu li a{
  font-weight: bold;
  font-size: 1rem;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.start-menu li a{
  text-decoration: none;
}
.start-menu li a:hover{
  cursor: pointer;
  color: #fff;
}

.recovery-label {
    text-align: start;
    width: 40%;
    font-size: 25px;
    color: white;
    margin-bottom: 15px;
    font-weight: 900;
}

#conf-pass {
    font-size: 24px;
    background-color: #b8bb26;
    color: white;
}