<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <title>Tipear</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/test.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/queries.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div th:replace="fragments/header :: header">...</div>
    <div class="main-div">

      <div id="start-div">
        <div style="font-size: 23px; color: #eee; background-color: #458588;" th:if="${param.recover}" id="conf-pass" class="alert-invalid"><h2>We've sent you an email to change  your password.</h2></div>
        <h1 id="org-title">Welcome to Tipear...</h1>
        <h1 id="rep-title">Tipear</h1>
        <h2 id="start-desc">&lt; A typing test platform &gt;</h2>

        <!-- start "menu" to the typing test -->
        <select id="time-select" class="rep-link">
          <option value="60">1 minute test</option>
          <option value="180">3 minute test</option>
          <option value="300">5 minute test</option>
        </select>

        <ul class="start-menu">
          <li class="rep-link"><a th:href="@{/test/60}" class="testStarter" >Start test</a></li>
          <li class="org-links"><a th:href="@{/test/60}" class="testStarter" id="60">1 minute test</a></li>
          <li class="org-links"><a th:href="@{/test/180}" class="testStarter" id="180">3 minute test</a></li>
          <li class="org-links"><a th:href="@{/test/300}" class="testStarter" id="300">5 minute test</a></li>
        </ul>
      </div>


    </div>
  </body>
</html>
