<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tipear | Password recovery</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<h1><span class="title-span">Password recovery</span></h1>
<div id="main-div">

    <form onsubmit="return isValid()" class="form" th:action="@{/recover/password}" method="POST" >
        <div style="font-size: 25px; color: red;" id="passwd-alert" class="alert-invalid "><h2>Your password should be 8 characters minimum.</h2></div>
        <label class="recovery-label">New password</label>
        <input type="password" id="passwd-inp" placeholder="Enter your new password here.." name="password" required>
        <div class="form-buttons">
            <button type="submit">Send</button>
        </div>
    </form>

</div>

<script th:src="@{/js/main/register.js}"></script>
</body>
</html>
